<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #ffff">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/imgs/sightly-logo.png" alt="" width="200" height="200">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
                    <a href="/login" class="btn btn-outline-secondary btn-nav" role="button">Log In</a>
                    <a href="/signup" class="btn btn-info btn-nav" role="button">Try Sightly</a>
            </div>
        </div>
    </nav>