<footer class="mt-4 fixed-bottom" style="background-color: #1F5A72;">
    <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Sightly All Rights Reserved. Created by 
        <a class="text-light" href="https://annakimdev.netlify.app/">Anna Kim (Hyodo).</a>
        </div>
        <!-- Copyright -->
</footer>