<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a deck</h2>
            <form action="/deck/createDeck" enctype="application/json" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="grade" class="form-label">Grade</label>
                <textarea class="form-control" id="grade" name="grade"></textarea>
                <!-- <select class="form-select" arai-label="Default select example" id="grade" name="grade"></select>
                  <option selected>Select Grade</option>
                  <option value="PreK">Pre-K</option>
                  <option value="Kindergarten">Kindergarten</option> -->
              </div>
              <div class="mb-3">
                <label for="words" class="form-label">Words</label>
                <textarea class="form-control" id="words" name="words"></textarea>
              </div>
              <!-- <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div> -->
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>