<%- include('partials/header') -%>
<body class="addDeck d-flex h-100">

<%- include('partials/navbar') -%>

  <div class="container card-container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="mt-5">
              <h2>Add a new deck</h2>
              <form action="/deck/createDeck" enctype="application/json" method="POST">
              <!-- <form action="/deck/createDeck" enctype="multipart/form-data" method="POST"> -->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                  <label for="grade" class="form-label">Grade</label>
                  <select name="grade" id="grade" class="form-control">
                    <option selected>Choose...</option>
                    <option>Pre-K</option>
                    <option>Kindergarten</option>
                    <option>1st Grade</option>
                    <option>2nd Grade</option>
                    <option>3rd Grade</option>
                    <option>4th Grade and Above</option>
                  </select>
                  <!-- <textarea class="form-control" id="grade" name="grade"></textarea> -->
                </div>
                <div class="mb-3">
                  <label for="words" class="form-label">Words</label>
                  <textarea class="form-control" id="words" name="words" placeholder="Separated by commas (e.g. first, second, third)"></textarea>
                </div>
                <!-- <div class="mb-3">
                  <label for="imgUpload" class="form-label">Image</label>
                  <input type="file" id="imgUpload" name="file">
                </div> -->
                <button type="submit" class="btn btn-info" value="Upload">Submit</button>
              </form>
            </div>
        </div>
      </div>
    </div>

  </div>

  <%- include('partials/rootFooter') -%>