html,
body {
    height: 100%;
    font-size: 1rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.card-container {
    margin-top: 10rem;
}

.btn-nav{
    margin-right: .5rem;
}

#emailHelp{
    color: #6c757d;
}

/* .navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
    color: #00B159;
} */

body.dolchDeck .navbar-light .nav-item a.dolchDeck,
body.explore .navbar-light .nav-item a.explore,
body.myDeck .navbar-light .nav-item a.myDeck,
body.addDeck .navbar-light .nav-item a.addDeck {
    color: #00B159;
}