html,
body {
    height: 100%;
    font-size: 1rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.card-container {
    margin-top: 10rem;
}

.btn-nav{
    margin-right: .5rem;
}

#emailHelp{
    color: #6c757d;
}

/* Persistent Page Indicator on navbar */
body.dolchDeck .navbar-light .nav-item a.dolchDeck,
body.explore .navbar-light .nav-item a.explore,
body.myDeck .navbar-light .nav-item a.myDeck,
body.addDeck .navbar-light .nav-item a.addDeck {
    /* color: #4083be; */
    text-decoration: underline;
}

.navbar span,
.navbar li {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lspacing-1 {
    letter-spacing: 1px;
}